:root {
    --margin-tiny: 4%;
    --page-width: 1300px;
    --padding-left-from-page: 230px;
}

.page {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: var(--page-width);
    background-color: white;
    height: 100vh;
}

#ptitle {
    display: inline-block;
    font-family: TestSignifier-ExtraLight;
    font-size: 54px;
    vertical-align: top;
}

#ptype {
    font-size: 15px;
}

.intro {
    display: inline-block;
    margin-top: 200px;
    vertical-align: top;
    padding-left: var(--padding-left-from-page);
    padding-bottom: 100px;
}

.breakline {
    width: 100%;
    border-top: 1px solid black;
}

.info-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-container span {
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.info-container img {
    width: 15px;
    height: 15px;
    margin-top: -4px;
    vertical-align: middle;
}

.info-container a span::after {
    content: "";
    display: block;
    bottom: -1px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background-color: black;
    transition: transform 0.1s linear;
}

.info-container a span:hover::after {
    transform: scaleX(0.8);
}

#readpaper {
    position: absolute;
    left: 0px;
    margin-left: var(--padding-left-from-page);
}

.pub-info {
    margin-top: 80px;
    margin-left: var(--padding-left-from-page);
}

.pub-info h1 {
    font-size: 30px;
    font-family: TestSohne;
    margin-bottom: 15px;
}

.pub-info p {
    font-family: TestSignifier-ExtraLight;
    font-size: 20px;
    width: calc(var(--page-width) - 2*var(--padding-left-from-page));
    padding-bottom: 160px;
}

.credits-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.credits-container span {
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

#author {
    font-family: TestSohne;
}

#authorname {
    font-family: TestSohne-Light;
    position: absolute;
    left: 0px;
    margin-left: var(--padding-left-from-page);
}

@media (max-height: 1000px) {
    .page {
        height: max-content;
        padding-bottom: 200px;
    }
}


@media (max-width: 1300px) { /* This has to be set to page's width.*/
    .page {
        width: 100%;
    }

    .intro {
        padding-left: var(--margin-tiny);
    }

    .breakline {
        margin-left: var(--margin-tiny);
        width: calc(100% - 2*(var(--margin-tiny)));
    }

    #date {
        margin-left: var(--margin-tiny);
    }
    
    #readpaper {
        margin-left: var(--margin-tiny);
        margin-top: 30px;
    }

    #author {
        margin-left: var(--margin-tiny);
    }
    
    #authorname {
        margin-left: var(--margin-tiny);
        margin-top: 30px;
    }
    
    .pub-info {
        margin-left: calc(var(--margin-tiny));
    }

    .pub-info p {
        width: calc(100% - var(--margin-tiny));
    }

    #ptitle {
        font-size: 44px;
    }
}

@media (max-width: 1000px) {
    .pub-info p {
        width: calc(100% - 2*(var(--margin-tiny)));
    }
}

@media (max-width: 800px) {
    #ptitle {
        font-size: 32px;
    }

    .info-container span {
        font-size: 17px;
    }

    .credits-container span {
        font-size: 17px;
    }

    .pub-info p {
        font-size: 17px;
    }
}