@import url("../../style/font-faces.css");
@import url("../../style/scrollbar.css");
@import url("../../style/navbar.css");
@import url("../../style/footer.css");
@import url("page.css");

::-moz-selection { /* Code for Firefox. */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

img::-moz-selection { /* Code for Firefox. */
    background: transparent;
}
  
img::selection {
    background: transparent;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: TestSohne-Light;
    overflow-x: hidden;
    background: white;

    /* For the footer. */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* For the footer. */
.page {
    flex: 1 0 auto;
}